:root{
  --header-height: 3rem;

  /*==== Colors ====*/
  /*Favorite color*/
  --hue-color:238;

  /*HSL color mode*/
  --first-color: hsl(var(--hue-color),77%,56%);
  --first-color-second: hsl(var(--hue-color),77%,56%); /*69%,61%*/
  --first-color-alt: hsl(var(--hue-color),65%,48%);
  --first-color-lighter: hsl(var(--hue-color),100%,80%);
  --title-color: hsl(var(--hue-color),16%,10%);
  --text-color: hsl(var(--hue-color),16%,40%);
  --text-color-light: hsl(var(--hue-color),16%,60%);
  --input-color: hsl(var(--hue-color),70%,96%);
  --body-color: hsl(var(--hue-color),60%,99%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color),12%,90%);
  --scroll-thumb-color: hsl(var(--hue-color),12%,80%);

  --line-height-title: 1.4;
  --line-height-caption: 1.2;
  --color-text: #222022;
  

  /*==== Font ====*/
  --body-font: 'Poppins',sans-serif ;
  --font-family-secondary: 'PT Sans', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*Font weight*/
  --font-medium : 500;
  --font-semi-bold : 600;

  /*==== Margin ====*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px, ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --border-radius-primary: 2rem;

  /*==== z index ====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width:968px) {
  :root{
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*blog cards*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}


/*=========================REUSABLE CSS CLASSES=========================*/
.section{
  padding: 2rem 0 4rem;
}

.section__title{
  font-size: var(--h1-font-size);
}

.section__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle{
  text-align: center;
}


/*=========================PAGE TITLE=========================*/
.title-section{
  margin: 6rem 0;
  display: flex;
  justify-content: center;
}

.title__data{
  margin: 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page__title{
  font-size: 3rem;
}

.page__description{
  font-size: var(--small-font-size);
  display: block;
  text-align: center;
}




/*=========================LAYOUT=========================*/
.container{
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
  gap: 1.5rem;
}

header{
  width: 100%;
  position: fixed; /*stays in the same place even if the page is scrolled*/
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}


/*=========================NAV=========================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width:767px) { /*Mobile Menu*/
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav__list{
  grid-template-columns: repeat(3,1fr); /*3 equals columns*/ /*repeat : It allows you to define a pattern repeated X times; fr:“fraction of available space” = equal-width columns spaced from each other by a 1% margin*/
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column; /*icon above text*/
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}


/*=========================NAV Class used in Js =========================*/
/*Show Menu*/
.show-menu{ /*replace "bottom:-100%" by 0*/
  bottom: 0;
}

/*Active Link*/
.active-link{
  color: var(--first-color);
}

/*Change background header*/
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}


/*=========================BUTTONS=========================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex{
  display: inline-flex; /*permet de garder les elements sur la même ligne en ajustant leur écart != inline-block*/
  align-items: center;
}


/*=========================PROJECTS MENU=========================*/
.projects-menu{
  padding-top: 1rem;
}

.projects-menu__container{
  max-width: 300px;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:767px) { /*Mobile Menu*/
  
}

.projects__list{
  /*grid-template-columns: repeat(3,1fr); 
  gap: 2rem;*/
  display: flex;
}

.nav__link{
  display: flex;
  flex-direction: column; /*icon above text*/
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}



/*=========================PROJECTS=========================*/
.projects__container{
  grid-template-columns: repeat(3,fit-content(100%));/*3,1fr);*/
  gap : 1rem;
  justify-content: center;
  max-width: none!important;
}

.projects__img{ /*squared img*/
  object-fit: cover;
  width: 230px;
  height: 230px;
  max-width: none;
  border-radius: .0rem;
  vertical-align: middle;
}

/*.project{
  justify-self: center;
  align-self: center;
}*/




/*=========================FOOTER=========================*/
.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer__title{
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color:var(--first-color-lighter);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
  padding: 0 1rem 0;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: #FFF;
}


/*=========================SCROLL BAR=========================*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}


/*=========================MEDIA QUERIES=========================*/
/**For small devices**/
@media screen and (max-width: 350px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem .25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }
  
}

@media screen and (max-width: 467px) {
  

}


/**For medium devices**/
@media screen and (min-width: 568px) {
  .footer__container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width: 768px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  body{
    margin: 0;
  }
  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }
  .header{
    top: 0; /*put menu at the top*/
    bottom: initial;
  }
  .header,
  .main,
  .footer__container{
    padding: 0 1rem;
  }

  .nav{
    /*height: calc(var(--header-height)+1.5rem);*/
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .projects-menu{
    padding-top: 1rem;
  }

  .footer__container{
    grid-template-columns: repeat(3,1fr);
  }
  .footer__bg{
    padding: 3rem 0 3.5rem;
  }
  .footer__links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials{
    justify-self: flex-end;
  }
  .footer__copy{
    margin-top: 4.5rem;
  }
}

/**For large devices**/
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container{
    padding: 0px;
  }
}





